body {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	background-image: url(../img/bg.jpg);
	background-size: cover;
	opacity: .85;
	color: white;
	font-size: 25px;

}
.subhead {
	color: red;
	font-size: 20px;
}

#yourPlanet {
	color: red;
	font-size: 30px;
}
#yourInfo {
		color: red;
		font-size: 13px;
}

img {
	border-radius: 25%;
	margin-bottom: 20px;
}

p {
	text-align: center;
	margin:10px 10px 10px 10px;

}